# Entorno virtual y dependencias
.venv/
venv/
env/
ENV/
bin/
lib/
include/

# Archivos de entorno
.env
.env.local
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Node
node_modules/
dist/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db

